.News {
    width: 100%;
    height: 100vh;
    background-image: url("../../images/frederik-rosar-NDSZcCfnsbY-unsplash.jpg");
    background-size: cover;
    position: relative;
}

.News .wrapper {
    padding: 1rem var(--main-padding-container);
}

.News .card-news {
    z-index: 3;
    position: relative;
}
.News img {
    position: absolute;
    bottom: -80px;
    background-size: cover;
    width: 100%;
}

@media (max-width: 1000px) {
    .News img {
        bottom: 0;
    }

    .News {
        height: 80vh;
    }
}

.News .img-new-2 {
    top: 0;
    transform: rotate(180deg);
}